<div class="row">
<div class=col-md-8>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>Usage</h3>
        </div>
        <div class="box-body">
            <ol>
                <li>Download client application</li>
                <li>Create directory at ~/muss and move muss-local to ~/muss</li>
                <li>Copy Configuration to config.json to ~/muss</li>
                <li>Execute client application: ~/muss/muss-local -c ~/muss/config.json</li>
                <li>Update system level SOCKS5 configuration: Server: 127.0.0.1, Port: 7070</li>
            </ol>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>Download</h3>
        </div>
        <div class="box-body">
            <a class="btn btn-success col-md-12" href="/static/download/linux/muss-local">
                <i class="fa fa-download"></i>
                Download muss-local
            </a>
        </div>
    </div>
</div>
</div>
