<div class="row">
<div class=col-md-8>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>{% t "Usage" %}</h3>
        </div>
        <div class="box-body">
            <ol>
                <li>{% t "Download client application" %}</li>
                <li>{% t "Create directory at ~/muss and move muss-local to ~/muss" %}</li>
                <li>{% t "Copy Configuration to config.json to ~/muss" %}</li>
                <li>{% t "Execute client application: ~/muss/muss-local -c ~/muss/config.json" %}</li>
                <li>{% t "Update system level SOCKS5 configuration: Server: 127.0.0.1, Port: 7070" %}</li>
            </ol>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>{% t "Download" %}</h3>
        </div>
        <div class="box-body">
            <a class="btn btn-success col-md-12" href="/static/download/linux/muss-local">
                <i class="fa fa-download"></i>
                {% t "Download" %} muss-local
            </a>
        </div>
    </div>
</div>
</div>
