<div class="row">
<div class=col-md-8>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>{% t "Usage" %}</h3>
        </div>
        <div class="box-body">
            <ol>
                <li>{% t "Download client package and install" %}</li>
                <li>{% t "Enter Server Address, User Name and Password" %}<br/>
                    {% t "Server Address is" %}: {{server_address}}<br/>
                    <img src="{% img_with_lang request "/static/img/help/mac1.png" %}" width="300" />
                </li>
                <li>{% t "Click Start Proxy button to start proxy" %}</li>
            </ol>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>{% t "Download" %}</h3>
        </div>
        <div class="box-body">
            <a class="btn btn-success col-md-12" href="/static/download/mac/MussMac-1.0.1.dmg">
                <i class="fa fa-download"></i>
                {% t "Download" %} MussMac-1.0.1.dmg
            </a>
        </div>
    </div>
</div>
</div>
