<div class="row">
<div class=col-md-8>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>Usage</h3>
        </div>
        <div class="box-body">
            <ol>
                <li>Download client application</li>
                <li>Copy Configuration to client App's MUSS Configuration text box</li>
                    <ul>
                        <li><img src="/static/img/help/mac1.png" /></li>
                    </ul>
                <li>Click <b>Start Proxy</b> button to start proxy</li>
            </ol>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3>Download</h3>
        </div>
        <div class="box-body">
            <a class="btn btn-success col-md-12" href="/static/download/mac/MussMac-1.0.0.dmg">
                <i class="fa fa-download"></i>
                Download MussMac-1.0.0.dmg
            </a>
        </div>
    </div>
</div>
</div>
