{% extends "sysadmin/layout/master.html" %}
{% block content %}
<section class="content-header">
  <h1>Customers</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
        {% csrf_token %}
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Customer List</h3>
            <div class="box-tools">
              <form method="GET">
              <div class="input-group input-group-sm" style="width: 200px;">
                <div class="input-group-btn">
                    <span post-url="/admin/customers/create" class="btn btn-primary" onclick="return create_customer(this);"><b>Create</b></span>
                </div>
                <input type="text" name="search" class="form-control pull-right" placeholder="Search" value="{{search}}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>User ID</th>
                  <th>Status</th>
                  <th>Bandwidth</th>
                  <th>MUSS Password</th>
                  <th>Created At</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="#" onclick="show_customer_detail(this);" data-userid="{{user.userid}}" data-name="{{user.name}}", data-status="{{user.status}}" data-password="{{user.password}}" data-created_at="{{user.created_at|fdate}}" data-id={{user.id}}>{{user.name}}</td>
                  <td>{{user.userid}}</td>
                  <td>
                    {% if user.status == "Enabled" %}
                    <span class="badge bg-green">{{user.status}}</span>
                    {% else %}
                    <span class="badge bg-red">{{user.status}}</span>
                    {% endif %}
                  </td>
                  <td>{{user.bandwidth}} Mbps</td>
                  <td>{{user.password}}</td>
                  <td>{{user.created_at|fdate}}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-xs" onclick="show_customer_config(this);" data-id="{{user.id}}">Config</a>
                    <a href="#" class="btn btn-info btn-xs" onclick="edit_customer(this);" data-id="{{user.id}}" data-servers="{{user.number_server}}" data-bandwidth="{{user.bandwidth}}" data-expire={{user.get_expire_str}}>Edit</a>
                    {% if user.status == "Disabled" %}
                    <a href="/admin/customers/{{user.id}}/enable" class="btn btn-success btn-xs">Enable</a>
                    {% else %}
                    <a href="/admin/customers/{{user.id}}/disable" class="btn btn-warning btn-xs">Disable</a>
                    {% endif %}
                    <a href="/admin/customers/{{user.id}}/delete" class="btn btn-danger btn-xs" onclick="return double_check();">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            {% paginate users request %}
          </div>
        </div>
    </div>
  </div>
</section>

<div id="create-customer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Create Customer</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="create-customer-name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="create-customer-name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="create-customer-password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="create-customer-password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="create-customer-name" class="col-sm-2 control-label">Bandwidth</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="create-customer-bandwidth" placeholder="Bandwidth">
              </div>
            </div>
            <div class="form-group">
              <label for="create-customer-servers" class="col-sm-2 control-label">Servers</label>
              <div class="col-sm-10">
                <select class="form-control" id="create-customer-servers">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="create-customer-expire" class="col-sm-2 control-label">Expire Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="create-customer-expire" placeholder="Expire Date">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="create-customer-submit">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="customer-config-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Customer Config</h4>
      </div>
      <div class="modal-body">
          <pre id="customer-config-config" style="height:300px;"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="edit-customer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Edit Customer</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="edit-customer-bandwidth" class="col-sm-2 control-label">Bandwidth</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-customer-bandwidth" placeholder="Bandwidth" value="4">
              </div>
            </div>
            <div class="form-group">
              <label for="edit-customer-password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="edit-customer-password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="edit-customer-servers" class="col-sm-2 control-label">Servers</label>
              <div class="col-sm-10">
                <select class="form-control" id="edit-customer-servers">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="edit-customer-expire" class="col-sm-2 control-label">Expire Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-customer-expire" placeholder="Expire Date">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-customer-submit">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include "sysadmin/users/detail_modal.html" %}
{% endblock %}
{% block script %}
$(function() {
    $("#create-customer-expire").datepicker({autoclose: true, format: "yyyy-mm-dd", zIndex: 2000});
    $("#edit-customer-expire").datepicker({autoclose: true, format: "yyyy-mm-dd", zIndex: 2000});
});
{% endblock %}

