{% extends "sysadmin/layout/master.html" %}
{% block content %}
<section class="content-header">
  <h1>Servers</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
        {% csrf_token %}
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Server List</h3>
            <div class="box-tools">
              <form method="GET">
              <div class="input-group input-group-sm" style="width: 200px;">
                <div class="input-group-btn">
                    {% if exceed %}
                    <span post-url="/admin/servers/create" class="btn btn-primary disabled"><b>Create</b></span>
                    {% else %}
                    <span post-url="/admin/servers/create" class="btn btn-primary" onclick="return create_server(this);"><b>Create</b></span>
                    {% endif %}
                </div>
                <input type="text" name="search" class="form-control pull-right" placeholder="Search" value="{{search}}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Hostname</th>
                  <th>IP</th>
                  <th>Status</th>
                  <th>Encryption Method</th>
                  <th>Comments</th>
                  <th>Created At</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for server in servers %}
                <tr>
                  <td>{{server.hostname}}</td>
                  <td>{{server.ip}}:{{server.port}}</td>
                  <td>
                    {% if server.status == "Enabled" %}
                    <span class="badge bg-green">{{server.status}}</span>
                    {% elif server.status == "Full" %}
                    <span class="badge bg-yellow">{{server.status}}</span>
                    {% else %}
                    <span class="badge bg-red">{{server.status}}</span>
                    {% endif %}
                  </td>
                  <td>{{server.encryption|upper}}</td>
                  <td>{{server.comments}}</td>
                  <td>{{server.created_at|fdate}}</td>
                  <td>
                    <span post-url="/admin/servers/{{server.id}}/edit" data-id="{{server.id}}" class="btn btn-primary btn-xs" onclick="return edit_server(this);">Edit</span>
                    <a href="/admin/servers/{{server.id}}/delete" class="btn btn-danger btn-xs" onclick="return double_check();">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            {% paginate servers request %}
          </div>
        </div>
    </div>
  </div>
</section>

<div id="server-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="server-modal-title">Create Server</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="server-hostname" class="col-sm-2 control-label">Hostname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="server-hostname" placeholder="Hostname">
              </div>
            </div>
            <div class="form-group">
              <label for="server-ip" class="col-sm-2 control-label">IP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="server-ip" placeholder="IP">
              </div>
            </div>
            <div class="form-group">
              <label for="server-port" class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="server-port" placeholder="Port">
              </div>
            </div>
            <div class="form-group">
              <label for="server-status" class="col-sm-2 control-label">Status</label>
              <div class="col-sm-10">
                <select id="server-status" class="form-control">
                    <option value="Enabled">Enabled</option>
                    <option value="Full">Full</option>
                    <option value="Disabled">Disabled</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="server-encryption" class="col-sm-2 control-label">Encryption Method</label>
              <div class="col-sm-10">
                <select id="server-encryption" class="form-control">
                    <option value="aes-128-cfb">AES-128-CFB</option>
                    <option value="aes-192-cfb">AES-192-CFB</option>
                    <option value="aes-256-cfb">AES-256-CFB</option>
                    <option value="rc4-md5">RC4-MD5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="server-comments" class="col-sm-2 control-label">Comments</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" id="server-comments" placeholder="Comments">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="server-modal-submit">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
