<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/static/img/user1-128x128.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
          <p>{{request.user.username}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> {% t "Online" %}</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">{% t "MAIN NAVIGATION" %}</li>
      <li class="{% sidebar_active request "dashboard" %}">
          <a href="/admin"><i class="fa fa-dashboard"></i> <span>{% t "Dashboard" %}</span></a>
      </li>
      <li class="{% sidebar_active request "customer" %}">
          <a href="/admin/customers"><i class="fa fa-users"></i> <span>{% t "Customers" %}</span></a>
      </li>
      <li class="{% sidebar_active request "server" %}">
          <a href="/admin/servers"><i class="fa fa-server"></i> <span>{% t "Servers" %}</span></a>
      </li>
      <!--
      <li class="{% sidebar_active request "download" %}">
          <a href="/admin/download"><i class="fa fa-download"></i> <span>{% t "Download" %}</span></a>
      </li>
      -->
      <li class="{% sidebar_active request "license" %}">
          <a href="/admin/license"><i class="fa fa-credit-card"></i> <span>{% t "License" %}</span></a>
      </li>
      <li class="{% sidebar_active request "operation_log" %}">
          <a href="/admin/operation_log"><i class="fa fa-list"></i> <span>{% t "Operation Log" %}</span></a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
